{% extends 'interface/base.html' %}

{% load static %}

{% block title %}
    About
{% endblock title%}


{% block body %}

    <div class="">

        <div class="homepage-image-container ">

            <div class="about-title">
                About this app
            </div>

            <div class="about-content">
                <blockquote>
                    <h2> How to use the flash cards application </h2>
                    <hr><br> 
                    <i>
                        <ol>
                            <li>Select a topic, and the app will load the quiz interface</li>
                            <li> To reveal the answer
                               <ul>
                                <li>On mobile: Click the question tab to reveal the answer</li>
                                <li>On desktop: Hover over the question tab to reveiw the answer</li>
                               </ul>
                            </li>
                            <li> Click next question to to continue the testing phase</li>
                            <li> To view the question after viewing the answer, just click in any empty white space</li>
                        </ol>
                    </i>


                </blockquote>
            </div>
        </div>
    </div>


{% endblock body %}








<blockquote>
    <h4> How to use the flash cards application </h1>
    <i>
        <ol>
            <li>Click the blue button to go to the flashcards page</li>
            <li> To reveal the answer
               <ul>
                <li>On mobile: Click the question tab to reveal the answer</li>
                <li>On desktop: Hover over the question tab to reveiw the answer</li>
               </ul>
            </li>
            <li> Click next question to to continue the testing phase</li>
            <li> To view the question after viewing the answer, just click in any empty white space</li>
        </ol>
    </i>
    <i>
       <b> Topics not included</b> : Unit 21 (File I/O). I have not yet revised these topics, thus I do not have any questions yet
    </i>

</blockquote>